@model LMIS.Common.DashboardPageModel
@inject ITextLocalizer Localizer
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
    @Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")
}

@section ContentHeader {
    <h1>@Localizer.Get("Navigation.Dashboard")</h1>
}

<style>
    .s-dashboard-card,
    .s-dashboard-card-sm {
        margin-bottom: var(--bs-gutter-x);
    }

        .s-dashboard-card .card-header {
            padding: 1rem;
            border-bottom: none;
            background-color: transparent;
        }

        .s-dashboard-card .card-body {
            border-radius: 0 0 4px 4px;
            padding: 1rem;
        }

        .s-dashboard-card .card-footer {
            border-top-color: transparent;
            background-color: transparent;
            padding: 1rem;
        }

        .s-dashboard-card .card-title {
            margin: 0;
            font-size: 1.4rem;
            color: var(--s-table-title);
        }

        .s-dashboard-card-sm .card-body {
            padding: 1rem;
            border-radius: 4px 4px 0 0;
            margin: 1px;
        }

        .s-dashboard-card-sm .card-footer {
            color: rgba(var(--s-bright-rgb), 0.8);
            background-color: var(--bs-body-bg);
            border-radius: 0 0 4px 4px;
            border-top: none;
            margin: 0 1px 1px 1px;
            padding: 3px 0;
            text-align: center;
            text-decoration: none;
        }

        .s-dashboard-card-sm h3 {
            font-size: 38px;
            font-weight: bold;
            margin: 0 0 10px 0;
            white-space: nowrap;
            padding: 0;
        }

        .s-dashboard-card-sm p {
            font-size: 15px;
        }

            .s-dashboard-card-sm p > small {
                display: block;
                font-size: 13px;
                margin-top: 5px;
            }

        .s-dashboard-card-sm .icon {
            transition: all 0.3s linear;
            position: absolute;
            top: 13px;
            color: #fff;
            opacity: 0.9;
            right: 10px;
            font-size: 64px;
        }

    .bg-world-map {
        background: #3c8dbc;
    }

    .s-dashboard-card-sm:hover .icon {
        font-size: 70px;
    }
</style>


<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card s-dashboard-card-sm bg-info bg-opacity-50">
            <div class="card-body">
                <h3>@Model.BorrowedCount</h3>
                <p>正常未归还数量</p>
            </div>
            <div class="icon">
                <i class="fa fa-book"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card s-dashboard-card-sm s-alt bg-warning bg-opacity-50">
            <div class="card-body">
                <h3>@Model.ExpiredAndBorrowedCount</h3>
                <p>逾期未归还数量</p>
            </div>
            <div class="icon">
                <i class="fa fa-clock-o"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card s-dashboard-card-sm bg-success bg-opacity-50">
            <div class="card-body">
                <h3>@Model.ReturnedCount</h3>
                <p> 已经归还的数量</p>
            </div>
            <div class="icon">
                <i class="fa fa-flag"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card s-dashboard-card-sm s-alt bg-danger bg-opacity-50">
            <div class="card-body">
                <h3>@Model.DamageCount</h3>
                <p>损坏的数量</p>
            </div>
            <div class="icon">
                <i class="fa fa-bomb"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-lg-12">
        <div class="card s-dashboard-card">
            <div class="card-header d-flex">
                <h3 class="card-title">借阅书籍分布</h3>
            </div>
            <div class="card-body">
                <canvas id="borrow-type-chart" style="height: 400px;"></canvas>
            </div>
        </div>

        <div class="card s-dashboard-card">
            <div class="card-header d-flex">
                <h3 class="card-title">费用类型分布</h3>
            </div>
            <div class="card-body">
                <canvas id="bill-type-chart" style="height: 400px;"></canvas>
            </div>
        </div>
    </section>

</div>
<script>
    $(function () {
        var borrowTypeChart = new Chart(document.getElementById('borrow-type-chart'), {
            type: "bar",
            data: {
                labels: ["人文", "地理", "政治", "历史", "计算机", "科学"],
                datasets: [{
                    data: [2, 1, 0, 2, 5, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(54, 162, 235)'
                    ],
                    borderWidth: 2
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var billTypeChart = new Chart(document.getElementById('bill-type-chart'), {
            type: 'bar',
            data: {
                labels: ["办理借阅卡", "借阅卡升级", "借阅租金", "过期处罚", "书籍赔偿"],
                datasets: [
                    {
                        data: [50, 0, 8, 5, 18],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)'
                        ],
                        borderWidth: 2
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>